body {
    background-color: rgb(142,226,184)
}


@media screen and (max-width: 500px){
    main{
        background-color: black;
    }
}

main {
    font-family: 'Public Sans', sans-serif;
    background-color: white;
    
}
h3 {
    font-family: cursive;
    font-size: 50px;

}

a {
    color: purple;
    font-size: 36px;
    text-decoration: none;
    border: 4px solid yellow;
    margin: 4px;
    padding: 4px;
}

#theNav {
    display: flex;
    background-color: pink;
    flex-direction: column;
    align-items: center;
     margin: 4vw;
}

#theNav a{
   background-color: white;
   padding: 2vw;
   margin: 2vw;
   border-radius: 45px;
}
footer{
    background-color: blue;
}